.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        display: block;
        width: 90%;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        transition: all .3s;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        // [MEMO] Only works in Chrome, Safari / selector of input placeholder
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2; 
        }

        &::-ms-input-placeholder {
            color: $color-grey-dark-2; 
        }

        &::placeholder {
            color: $color-grey-dark-2;
        }

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block; // [MEMO] display as box to set margin attributes (box model properties) ... 없어도 되는 것 같은데...?

        transition: all .3s;

    }

    // Doesn't work on Edge.
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden; // completely gone. but can't apply animation. that's why I set opacity: 0.
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%; // 50%로 하면 다음줄로 넘어감..
        display: inline-block;

        // 위처럼 하든가, block(기본값)으로 두고 float: left 하던가. 이 때도 width: 50%는 필요하지.
        // width: 50%;
        // float: left;

        
    }

    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        // position: relative;
        // padding-left: 4.5rem;
    }

    &__radio-btn {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;

        // [MEMO] T's way of center align.
        // set parent(radio-label) position: relative; padding-left: 4.5rem;

        // position: absolute;
        // top: -.4rem;
        // left: 0;
        
        // [MEMO] My way of center align. I think it is much better.
        position: relative;
        vertical-align: middle;
        margin-right: 1rem;

        &::after {
            content: "";
            position: absolute; // [MEMO] absolute position of absolute position parents works as if parent position is relative!!
            border-radius: 50%;
            background-color: $color-primary;
            height: 1.3rem;
            width: 1.3rem;
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    // [MEMO] sibling selector -> +는 바로 뒤의 형제, ~는 아무 형제. label은 어차피 바로 뒤니까 +로 해도 된다.
    &__radio-input:checked ~ &__radio-label &__radio-btn::after{
        opacity: 1;
    }
    
}